body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #000;
}

/*Eh a img q ta salva em img/show arruma o cmainho se quiser ver como fica*/
body{
	background: url("file:///C:/Users/melno/OneDrive/Documentos/proximoShow/img/show.jpg");
	background-size: 100% 1400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.fas{
    color: #4B0082;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.container-form{
    background-color: #000;
    text-align: center;
    opacity: 0.9;
    max-width: 500px;
    height: 100%;
    padding: 50px;
    position: absolute;
    top:50px;
    right: 0px;
   
}
.form-content{
    border-radius: 4px;
    background-color: #fff;
    margin-top: 60px;
    max-width: 500px;
    height: 350px;
}

.form-content button{
    background-color: #4B0082;
    color: #fff;
}

.form-content button:hover{
    color: #fff;
}


.title-form{
    font-size: 30px;
    font-weight: 700px;
    padding: 20px;
    padding-bottom: 0px;
}
hr{
    margin-bottom: 50px;
}
.container-form input:first-child{
    margin-top: -8px;
    
}

.container-form input{
    margin-bottom: 15px;
  
}

.container-form button{
    margin: 20px;
  
}